html{
    scroll-behavior: smooth;
}

.nav-style a{
    text-decoration: none;
}
i{
    size: 16px;
    padding: 0;
    padding-left: 1rem;
    font-size: 16px;
}
.icon-skills{
    color:rgb(215, 232, 247);
}

.icon-front{
    color:rgb(14, 19, 23);

}

.diagonal-split {
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background: linear-gradient(150deg, rgb(50, 196, 99) 50%, #090f0f 50%);
  }
body{
    opacity: 0.01;
    transition: opacity 0.3s ease-in;
    background-color: #090f0f;
    margin: 0rem;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
}
    body.loaded{
        opacity: 1;
    }
ul { 
    list-style: none;
}
h2{
    margin-left: 5rem;
}

li{
    display: inline-block;
    margin-right: 10px;
}

section{
    transition: 0.8s;
    display: grid;
}



.nav-style{
   display: flex;  
   margin-right: 2rem; 
   text-align: right;
   visibility: visible;
}

.nav-container{
    background-color:#090c0c;
    width: 100vw;
    padding: 1rem;
    position: fixed;
    margin-top: 0rem;
    padding: 0rem;
    justify-content: space-between;
    display: flex;
    z-index: 1000;
}

.nav-text-title{
    color:rgb(239, 241, 241);
    margin-right: 10px;
    size: 22px;
    font-family: 'Rubik';
}
    .nav-text{
        color:rgb(171, 197, 197);
        margin-right: 10px;
        size: 22px;
        font-family: 'Rubik';
        transition: 0.7s ease-in-out;
    }
    .nav-text:hover{
        color: rgb(128, 247, 247);
    }

.intro-container{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    display: flex;     
}
    .my-photo{
        transition: 0.2s;
        aspect-ratio:1/1;
        width: 40%;
        height: auto;
        aspect-ratio: 1/1;
        padding: 0%
    }
 .my-photo.project-photos{
        transition: 0.4s;
        border-radius: 1rem;
        
    }
        .my-photo.project-photos:hover{
            transform: scale(1.1);
            aspect-ratio: 1/1;
            z-index: 100;
        }

    .aboutme-text{
        padding-left: 2rem ;

    }

.buttons{
    border-radius: 1rem;
    background-color: #03c9bf;
    padding: 0.5rem;
    margin-right: 3rem;
    border: none;
    font-family: 'Rubik';
    color: rgb(2, 12, 10);
    transition: 0.5s ease-in-out;
    margin-right: 10px;
    
}
    .buttons:hover{
        background-color: #1f4b4b;
        color: rgb(81, 217, 185);
    }

.buttons-hero{
    border-radius: 1rem;
    background-color: #041b1b;
    padding: 1rem;
    margin-left: 10rem;
    margin-top: 5rem;
    font-size: 32px;
    border: none;
    font-family: 'Rubik';
    color: rgb(173, 187, 184);
    transition: 0.5s ease-in-out;
    margin-right: 10px;

}
    .buttons-hero:hover{
        color:rgb(46, 204, 221);
    }


.normal-text{
    color: rgb(160, 185, 176);
    font-family:'Rubik';
    padding: 1rem;
}
    .normal-text-sections{
        font-size: 1.375rem;
    }

.my-intro{
    color:rgb(24, 29, 29);
    transition: width 0.9s ease-in-out;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 1rem;
    padding-top: 2rem;
    
    margin-left: 5rem;
    position: relative;
  
}
    .not-normal_text{
        color:rgb(20, 65, 65);
        font-family:'Rubik';
        padding: 1rem;
        margin-left: 5rem;
        position: relative;

    }
    .my-intro:hover{
        text-decoration:underline;
        
    }

.section-headings{
    color: rgb(188, 212, 212);
    font-family: 'Poppins';
    justify-self: center;
    font-size: 32px;
    margin: 0rem;

}
.header-wrapping{
    padding: 1rem;
    padding-bottom: 10rem;
    opacity: 0.9;
    padding-top: 10rem;
    
    visibility: visible;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position:relative;
    /*background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #0b1515 100%), 
        url('./images/BG_mine_2.PNG');*/
        
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}
.header-text-container{
    margin-left: 5rem;
    align-content: center;
}

.skill-container{
    margin-left:5rem;
    transition: 0.5s;
    width: 33%;
}
    .skill-container:hover{
        background-color: #0b1515;
        border-radius: 1rem;
    }
.insidediv-gap{
    margin-top: 5rem;
}

.Email-Container{
    margin-bottom: 2rem;;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}
    .contact-positioning{
        margin-left: 10rem;
    }
    .email-in{
        width:50%
    }
    .email-write{
        width: 100%;
        margin-top: 1rem;
        
    }
.intro-container .Project-Container{
    display: grid;
    grid-template: 1fr 1fr;
}

.project-object{
    justify-content: center;
}

.send-container{
    justify-content: right;
    display: flex;
    flex-direction: row-reverse;
}
.send-button{
    justify-content: center;
    display: inline-flex;
    padding: 1rem;
    background-color: #03c9bf;
    border-radius: 0.5rem;
    border-color: #275f5c;
    position: relative;
    justify-self: right;
    margin-left: 5rem;
    margin-bottom: 5rem;
    width: 10%;

    border: none;
    font-family: 'Rubik';
}

form{
    display: flex;
    flex-direction: column;
    background-color: #0a2a2a;
    margin: 5rem;
    border-radius: 1rem;
}
.menu-icon{
    visibility: hidden;
}

/*Media querries*/ 

@media screen and (max-width: 768px){ /*Expensive phones*/
    *{
        
        line-height: 1.5rem;
    }
    body{
        
        z-index: 1;
        
        
    }
    .normal-text-sections{
        justify-self: center;
    }
    form {
        width: 90vw;
        display: grid;
        grid-template-rows: 3fr;
        grid-template-columns: auto;
        margin: 1rem;
        justify-self: center;;
        justify-content: center;
        
        overflow: hidden;
    }
    .intro-container{
        width: 75vw;
        flex-direction: column;
        justify-self: center;
        
        overflow: hidden;
        padding: 0rem;
        gap: 10px;

        word-wrap: break-word;
        word-break: normal;
        white-space: pre-wrap;
        
    }
    .icon-skill-area{
        display:flex;
    }
    .skill-container{
        margin: 0rem;
        width: 75vw;
        justify-self: center;
        
    }
    .my-photo{
        width: 100%;
        height: auto;
        
    }

    .Email-Container{
        width: 80vw;
        flex-direction: column;
        gap: 10px;
        margin: 0rem;
        justify-self: center;

        word-wrap: break-word;
        word-break: normal;
        white-space: pre-wrap;
        
        position: relative;
        

    }
    .contact-positioning{
        justify-content: center;
        margin: 0rem;
        
    }
    .header-wrapping{
        margin-top: 5rem;
        justify-content: center;
        padding: 0rem;
    }
    .nav-container{
        padding: 0rem;
        margin: 0rem;
        width: 100vw;
        height: 6rem;
        z-index: 1000;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
    }

    .header-text-container{
        margin: 0rem;
        position: relative;
        justify-content: center;
        justify-self: center;
        padding: 0rem;
    }
    .nav-style{
        visibility: hidden;
        flex-direction: column;
    }
    .menu-icon{
        color:aliceblue;
        visibility: visible;
        margin: 1rem;
        
    }

    .normal-text{
        font-size: 1.2rem;
        padding: 0rem;
    }
    .email-write{
        width: 85%;
        padding: 0rem;
        justify-self: center;
    }
    .email-in{
        width: 85%; 
        padding: 0rem;
        justify-self: center;
    }
    img{
        margin-top: 1rem;
    }
    .section-headings{
        margin: 0.8rem;
    }
    .send-button{
        width: 30%;
        margin: 1rem;
    }
    .my-intro{
        justify-self: center;
        position: relative;
        font-size: 1rem;
        margin: 0rem;
        padding: 0;
    }
    .not-normal_text{
        margin: 0rem;
        padding: 0rem;
    }
}



   